#lenda{
  border: 5px solid red;
  height: 100px;
  text-align: center;
  margin: 10px;
}
.piloto-f1-atual{
  border: 5px solid red;
  height: 100px;
  text-align: center;
  margin: 10px;
}
.piloto-f1-atual{
  border: 5px solid red;
  height: 100px;
  text-align: center;
  margin: 10px;
}
.piloto-f1-atual{
  border: 5px solid red;
  height: 100px;
  text-align: center;
  margin: 10px;
}